.container {
     font-family: 'Arial', sans-serif;
     max-width: 1300px;
     margin: 0 auto;
     padding: 20px;
     text-align: center;
   }
   .heading {
     color: black;
     font-size: 36px;
     margin-bottom: 20px;
   }
   .description {
     color: black;
     font-size: 18px;
     margin-bottom: 30px;
     padding-bottom: 100px;
   }
   
   .splitContainer {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 20vh;

   }
   
   .bookingSection {
     background-color: #fff;
     height: 120px;
     width: 300px; /* Feste Breite für jede Sektion */
     padding: 20px;
     border-radius: 8px;
     text-align: center;
     display: flex;
     flex-direction: column; /* Vertikale Ausrichtung der Inhalte */
     justify-content: center; /* Zentriert die Inhalte vertikal */
     align-items: center; /* Zentriert die Inhalte horizontal */
   }
   
   .bookingSection h2 {
     color: black;
     font-size: 36px;
     margin-bottom: 20px;
   }
   .bookingSection:hover h2{
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease;
   }
   .bookingSection:hover {
     background-color: #009999;
     transition: color 0.3s ease, background-color 0.3s ease;
   }

   .bookingSection img {
     width: 80%; /* Das Bild nimmt 80% der Breite ein */
     height: auto;
     border-radius: 8px;
     margin-bottom: 20px;
   }
   
   .link {
     text-decoration: none;
     color: #009999;
     font-size: 18px;
     padding: 10px 10px;
     background-color: #009999;
     border-radius: 15px;
     transition: color 0.3s ease, background-color 0.3s ease;
     margin-top: 10px;
   }
   
   .symbols{
    display: flex;
    align-items:center;
    justify-content: space-around;
    height: 300px;
   }
   .symbols img{
    width: 280px;
    height: 280px;
   }
    
 